In [1]:
!pip install pandas

Collecting pandas
  Using cached pandas-1.5.1-cp38-cp38-macosx_10_9_x86_64.whl (11.9 MB)
Collecting numpy>=1.20.3
  Using cached numpy-1.23.4-cp38-cp38-macosx_10_9_x86_64.whl (18.1 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in ./venv/lib/python3.8/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2022.5-py2.py3-none-any.whl (500 kB)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.23.4 pandas-1.5.1 pytz-2022.5
WARNING: You are using pip version 21.1.2; however, version 22.3 is available.
You should consider upgrading via the '/Users/sauravtripathi/Downloads/python/Online-Retail-Transaction/venv/bin/python -m pip install --upgrade pip' command.

In [2]:
!pip install numpy

Requirement already satisfied: numpy in ./venv/lib/python3.8/site-packages (1.23.4)
WARNING: You are using pip version 21.1.2; however, version 22.3 is available.
You should consider upgrading via the '/Users/sauravtripathi/Downloads/python/Online-Retail-Transaction/venv/bin/python -m pip install --upgrade pip' command.

In [3]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.6.1-cp38-cp38-macosx_10_12_x86_64.whl (7.3 MB)
     |████████████████████████████████| 7.3 MB 1.4 MB/s eta 0:00:01     |███████████████████████████████▏| 7.1 MB 1.4 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.19 in ./venv/lib/python3.8/site-packages (from matplotlib) (1.23.4)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp38-cp38-macosx_10_9_x86_64.whl (65 kB)
     |████████████████████████████████| 65 kB 4.6 MB/s  eta 0:00:01
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.5-cp38-cp38-macosx_10_9_x86_64.whl (241 kB)
     |████████████████████████████████| 241 kB 2.0 MB/s eta 0:00:01
Requirement already satisfied: packaging>=20.0 in ./venv/lib/python3.8/site-packages (from matplotlib) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in ./venv/lib/python3.8/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in ./venv/lib/python3.8/site-packages (from matplotlib) (2.8.2)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.38.0-py3-none-any.whl (965 kB)
     |████████████████████████████████| 965 kB 10.3 MB/s eta 0:00:01
Collecting cycler>=0.10
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting pillow>=6.2.0
  Downloading Pillow-9.2.0-cp38-cp38-macosx_10_10_x86_64.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 19.7 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.0.5 cycler-0.11.0 fonttools-4.38.0 kiwisolver-1.4.4 matplotlib-3.6.1 pillow-9.2.0
WARNING: You are using pip version 21.1.2; however, version 22.3 is available.
You should consider upgrading via the '/Users/sauravtripathi/Downloads/python/Online-Retail-Transaction/venv/bin/python -m pip install --upgrade pip' command.

In [4]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.1-py3-none-any.whl (288 kB)
     |████████████████████████████████| 288 kB 2.2 MB/s eta 0:00:01     |███████████████████████▉        | 215 kB 2.2 MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.25 in ./venv/lib/python3.8/site-packages (from seaborn) (1.5.1)
Collecting matplotlib!=3.6.1,>=3.1
  Downloading matplotlib-3.6.0-cp38-cp38-macosx_10_12_x86_64.whl (7.3 MB)
     |████████████████████████████████| 7.3 MB 9.4 MB/s eta 0:00:01     |▊                               | 163 kB 9.4 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.17 in ./venv/lib/python3.8/site-packages (from seaborn) (1.23.4)
Requirement already satisfied: kiwisolver>=1.0.1 in ./venv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in ./venv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: contourpy>=1.0.1 in ./venv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: packaging>=20.0 in ./venv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in ./venv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in ./venv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in ./venv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.2.0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.8/site-packages (from pandas>=0.25->seaborn) (2022.5)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: matplotlib, seaborn
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.6.1
    Uninstalling matplotlib-3.6.1:
      Successfully uninstalled matplotlib-3.6.1
Successfully installed matplotlib-3.6.0 seaborn-0.12.1
WARNING: You are using pip version 21.1.2; however, version 22.3 is available.
You should consider upgrading via the '/Users/sauravtripathi/Downloads/python/Online-Retail-Transaction/venv/bin/python -m pip install --upgrade pip' command.

In [1]:
import pandas as pd
import numpy as np

import seaborn as sns

In [2]:
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("Online Retail.csv")

In [4]:
print(data.shape)

(541909, 8)

In [5]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/10 8:26,3.39,17850.0,United Kingdom

In [6]:
data.sample(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
231610,557274,23035,DRAWER KNOB CERAMIC IVORY,12,19/06/11 11:44,1.45,14004.0,United Kingdom
495105,578289,85053,FRENCH ENAMEL CANDLEHOLDER,4,23/11/11 14:07,2.10,17841.0,United Kingdom
201625,554310,22386,JUMBO BAG PINK POLKADOT,4,23/05/11 15:25,4.13,NaN,United Kingdom
72061,542228,22297,HEART IVORY TRELLIS SMALL,12,26/01/11 13:37,1.25,13113.0,United Kingdom
358198,568135,84032B,CHARLIE + LOLA RED HOT WATER BOTTLE,1,23/09/11 17:04,3.29,NaN,United Kingdom

In [7]:
# describing the data
data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000